/* サイドバー */
.sidebar {
  font-family: Arial, sans-serif;
  width: 20%;
  padding: 10px;
  background: #f9f9f9;
  border: 1px solid #ddd;
}
@media (max-width: 768px) {
  .sidebar {
    display: none; /* スマホ画面では非表示 */
  }
}

.latest-articles h3,
.related-articles h3 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar li a {
  text-decoration: none;
  color: #333;
}

.sidebar li a:hover {
  color: #007acc;
}

/* 中央コンテンツ（本文） */
.article-content {
  font-family: Arial, sans-serif;
  width: 60%;
  padding: 20px;
}
@media (max-width: 768px) {
  .article-content {
    width: 100%; /* メインコンテンツを全幅に広げる */
  }
}

.article-content h1 {
  margin-bottom: 10px;
  font-size: 2rem;
}

.date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 20px;
}

.article-body {
  line-height: 1.8;
  text-align: justify;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #f9f9f9; 
  border: 1px solid #ddd; 
}

.thumbnail-wrapper {
  display: block; /* インライン要素をブロック要素として扱う */
  margin: 0 auto; /* 上下は0、左右は自動で中央揃え */
  max-width: 80%; /* レスポンシブ対応: 親要素を超えない */
  height: auto; /* アスペクト比を維持 */
}

.thumbnail {
  width: 100%;
  height: auto; /* アスペクト比を維持 */
}