.header {
font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 10px 20px;
}

.logo a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.nav-menu a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.search-bar input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* ハンバーガーメニューアイコン */
.hamburger-menu {
  display: none; /* 初期状態で非表示 */
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .nav-menu {
    display: none; /* 小さい画面では非表示 */
    flex-direction: column;
    background: #333;
    position: absolute;
    top: 50px;
    left: 8px;
    padding: 10px;
    border-radius: 5px;
    display: flex; /* ハンバーガーメニューが開いた時に表示 */
    visibility: hidden; /* 非表示に設定 */
    opacity: 0; /* 初期状態で透明 */
    pointer-events: none; /* 非表示状態ではクリック不可 */
    transition: opacity 0.2s ease; /* フェードイン/フェードアウトのアニメーション */
  }

  .nav-menu.open {
    visibility: visible; /* 非表示に設定 */
    opacity: 1; /* 表示 */
    pointer-events: auto; /* クリック可能に */
  }

  .hamburger-menu {
    display: block; /* 小さい画面で表示 */
  }
}